*{
    padding: 0;
    margin: 0;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

body{
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
    background-image: radial-gradient(#03214a, #010b19);
}

.heading{
    color: white;
    margin-top: 1rem;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.game{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 500px;
    margin-top: 2rem;
    background: rgba(1, 1, 25, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border: 1px solid rgb(5, 55, 123);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

  .game .user-box {
    position: relative;
  }
  
  .game .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .game .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .game .user-box input:focus ~ label,
  .game .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
  }
  
  .game form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 25px;
    margin-bottom: 40px;
    border: none;
    cursor: pointer;
    letter-spacing: 4px
  }
  
  .game button:hover {
    background: #05377b;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #05377b,
                0 0 25px#05377b,
                0 0 50px #05377b,
                0 0 100px #05377b;
  }
  
  .game button span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .game button span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #05377b);
    animation: btn-anim1 2s linear infinite;
  }

  .hidden{
    display: none;
    transition: all;
  }

  .visible {
    display: block;
    animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#result-message{
  color: #808080;
  border: 1px solid #808080;
  padding: 1rem;
  text-shadow: 0 0 5px #05377b,
                0 0 25px#05377b,
                0 0 50px #05377b,
                0 0 100px #05377b;
}

.socials{
  position: absolute;
  bottom: 10px;
  left: 210px;
  color: white;
  opacity: 0.5;
  font-size: small;
}

.icons{
  position: relative;
  left: 12px;
}

.icons a{
  text-decoration: none;
}